// Place all the styles related to the Oven controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 50px;
}
.header {
	margin: 0 auto;
	color: red;
	font-size: 45px;
	font-weight: bold;
	padding-bottom: 50px;
}
.buttons {
	margin: 50px 0 0 0;
}
.switch_on {
	background: red;
}

#responses {
	text-align: center;
	background: lime;
	border-radius: 1em;
	font-size: 25px;
	font-family: "Ubuntu";
}
